/* .slider{
    height: 23vh;
} */



@media screen and (max-width:1392px) {
    body {
        background-color: oldlace;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        right: 30px;
        justify-content: center;
    }

    .logoText {
        right: 30px;
        justify-content: center;
    }

    nav ul{
        justify-content: center;
        
    }
    .some-item{
        position: absolute;
    top: 149px;
    bottom: 290px;
    right: 36px;
    left: 827px;
    overflow: hidden;
    border-radius: 15px;

    }
    .text{
        font-size: 50px;
    }
   
    .pragraph{
        padding: 0 57px;
        font-size: 12px;
        position: relative;
        top: -28px;
    }

    .btn-box {
        height: 25px;
        width: 105px;
        position: relative;
        right: -199px;
        top: -28px;
        background-color: black;
        text-align: center;
        color: white;
        justify-content: center;
        align-items: center;
        display: flex;
    
    }
    
    .btn-box :hover {
        color: rgb(255, 0, 25);
        font-weight: bold;
    }
    
    .btn {
        height: 25px;
        width: 105px;
        background-color: black;
        color: rgb(255, 205, 205);
        cursor: pointer;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 11px;
    }

    .heading {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        
    }
    .heading {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 28px;
        color: rgb(255, 145, 0);
    
    }

    .presale-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    
    }

    .box1 {
        background-color: var(--main-bg-color);
        height: 365px;
        width: 220px;
        border: 2px solid white;
        margin: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
    
    }
    
    .box2 {
        background-color: var(--main-bg-color);
        height: 365px;
        width: 220px;
        border: 2px solid white;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box3 {
        background-color: var(--main-bg-color);
        height: 365px;
        width: 220px;
        /* display: inline;
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box4 {
        background-color: var(--main-bg-color);
        height: 365px;
        width: 220px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box5 {
        background-color: var(--main-bg-color);
        height: 365px;
        width: 220px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .line1 {
        font-weight: bold;
        position: relative;
        top: 7px;
        font-size: 12px;
    
    }
    
    .line2 {
        position: relative;
        top: 13px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(255, 145, 0);
    }
    
    .line3 {
        position: relative;
        top: 21px;
        font-size: 12px;
    }
    
    .line4 {
        position: relative;
        top: 30px;
        font-size: 12px;
    }
    
    .line5 {
        position: relative;
        top: 45px;
    }
    
    .line6 {
        position: relative;
        top: 60px;
    }
    
    .line7 {
        position: relative;
        top: 70px;
    }
    
    .line8 {
        position: relative;
        top: 86px;
        font-size: 13px;
    }
    
    .line9 {
        position: relative;
        top: 94px;
        font-size: 13px;
    }
    
    .line10 {
        position: relative;
        top: 105px;
    }
    
    .presale-section-box1-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 133px;
    
    }
    
    .btn1 {
        height: 34px;
        width: 107px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn1 a {
        color: rgb(248, 5, 5);
        font-size: 10px;
        font-weight: bold;
    }
    
    .btn1 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box2-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 133px;
    
    }
    
    .btn2 {
        height: 34px;
        width: 107px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn2 a {
        color: rgb(248, 5, 5);
        font-size: 10px;
        font-weight: bold;
    }
    
    .btn2 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box3-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 133px;
    
    }
    
    .btn3 {
        height: 34px;
        width: 107px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn3 a {
        color: rgb(248, 5, 5);
        font-size: 10px;
        font-weight: bold;
    }
    
    .btn3 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    
    }
    
    .presale-section-box4-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 133px;
    
    
    }
    
    .btn4 {
        height: 34px;
        width: 107px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn4 a {
        color: rgb(248, 5, 5);
        font-size: 10px;
        font-weight: bold;
    }
    
    .btn4 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box5-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 133px;
    
    }
    
    .btn5 {
        height: 34px;
        width: 107px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn5 a {
        color: rgb(248, 5, 5);
        font-size: 10px;
        font-weight: bold;
    }
    
    .btn5 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .social-media-handle-info {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 26px;
        margin: 20px;
        font-weight: bold;
        font-size: 25px;
    }
    
    .social-media-handle-info2 {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 26px;
        margin: 37px;
        font-weight: bold;
        font-size: 25px;
        position: relative;
        top: -34px;
    }
    
    a img {
        height: 58px;
        margin: 5px 60px;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        position: relative;
        right: -185px;
        margin: 50px;
    }

}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Line_Number_3<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media screen  and (max-width:1133px){
    body{
        background-color: oldlace;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        right: 30px;
        justify-content: center;
    }

    .logoText {
        right: 30px;
        justify-content: center;
    }

    nav ul{
        justify-content: center;
        
    }

    .text{
        font-size: 40px;
    }
    .pragraph{
        padding: 0px 57px;
    font-size: 10px;
    position: relative;
    top: -28px;
}

.btn {
    height: 20px;
    width: 99px;
    background-color: black;
    color: rgb(255, 205, 205);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11px;
}

.btn-box {
    height: 20px;
    width: 99px;
    position: relative;
    right: -199px;
    top: -28px;
    background-color: black;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
    
    .some-item{
        position: absolute;
    top: 149px;
    bottom: 290px;
    right: 36px;
    left: 700px;
    overflow: hidden;
    border-radius: 15px;

    }

    .h1{
font-size: 55px;
    }

    .paragraph{
        padding: 0 35px;
        font-size: 14px;
        position: relative;
        top: -21;
    }

    .presale-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    
    }

    .heading {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        color: rgb(255, 145, 0);
    }

    .box1 {
        background-color: var(--main-bg-color);
        height: 340px;
        width: 170px;
        border: 2px solid white;
        margin: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
    
    }
    
    .box2 {
        background-color: var(--main-bg-color);
        height: 340px;
        width: 170px;
        border: 2px solid white;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box3 {
        background-color: var(--main-bg-color);
        height: 340px;
        width: 170px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box4 {
        background-color: var(--main-bg-color);
        height: 340px;
        width: 170px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box5 {
        background-color: var(--main-bg-color);
        height: 340px;
        width: 170px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .line1 {
        font-weight: bold;
        position: relative;
        top: 4px;
        font-size: 10px;
    
    }
    
    .line2 {
        position: relative;
        top: 10px;
        font-weight: bold;
        font-size: 16px;
        color: rgb(255, 145, 0);
    }
    
    .line3 {
        position: relative;
        top: 15px;
        font-size: 10px;
    }
    
    .line4 {
        position: relative;
        top: 21px;
        font-size: 10px;
    }
    
    .line5 {
        position: relative;
        top: 33px;
        font-size: 13px;
    }
    
    .line6 {
        position: relative;
        top: 36px;
        font-size: 13px;
    }
    
    .line7 {
        position: relative;
        top: 53px;
        font-size: 15px;
    }
    
    .line8 {
        position: relative;
        top: 72px;
        font-size: 11px;
    }
    
    .line9 {
        position: relative;
        top: 77px;
        font-size: 11px;
    }
    
    .line10 {
        position: relative;
        top: 90px;
        font-size: 16px;
    }
    
    .presale-section-box1-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 110px;
    
    }
    
    .btn1 {
        height: 27px;
        width: 93px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn1 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn1 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box2-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 110px;
    
    }
    
    .btn2 {
        height: 27px;
        width: 93px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn2 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn2 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box3-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 110px;
    
    }
    
    .btn3 {
        height: 27px;
        width: 93px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn3 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn3 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    
    }
    
    .presale-section-box4-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 110px;
    
    
    }
    
    .btn4 {
        height: 27px;
        width: 93px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn4 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn4 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box5-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 127px;
    
    }
    
    .btn5 {
        height: 27px;
        width: 93px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn5 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn5 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .social-media-handle-info {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 26px;
        margin: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    
    .social-media-handle-info2 {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 26px;
        margin: 37px;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        top: -47px;
    }
    
    a img {
        height: 45px;
        margin: 5px 60px;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        position: relative;
        right: -95px;
        margin: 42px;
    }

}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Line_Number_3<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



@media screen  and (max-width:953px){
    body{
        background-color: oldlace;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        right: 30px;
        justify-content: center;
    }

    .logoText {
        right: 30px;
        justify-content: center;
    }

    nav ul{
        justify-content: center;
        
    }

    .text{
        font-size: 30px;
        text-align: center;
    }
    .pragraph{
        padding: 0px 42px;
    font-size: 7px;
    position: relative;
    top: -34px;
    text-align: center;
}

.btn {
    height: 21px;
    width: 80px;
    background-color: black;
    color: rgb(255, 205, 205);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8px;
}

.btn-box {
    height: 21px;
    width: 80px;
    position: relative;
    right: -292px;
    top: -26px;
    background-color: black;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
    
    .some-item{
        position: absolute;
    top: 149px;
    bottom: 400px;
    right: 67px;
    left: 466px;
    overflow: hidden;
    border-radius: 15px;

    }

    .h1{
font-size: 55px;
    }


    .presale-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
    }

    .heading {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        color: rgb(255, 145, 0);
    }

    .box1 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        border: 2px solid white;
        margin: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
    
    }
    
    .box2 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        border: 2px solid white;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box3 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box4 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box5 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .line1 {
        font-weight: bold;
        position: relative;
        top: 4px;
        font-size: 9px;
    
    }
    
    .line2 {
        position: relative;
        top: 10px;
        font-weight: bold;
        font-size: 15px;
        color: rgb(255, 145, 0);
    }
    
    .line3 {
        position: relative;
        top: 12px;
        font-size: 8px;
    }
    
    .line4 {
        position: relative;
        top: 11px;
        font-size: 8px;
    }
    
    .line5 {
        position: relative;
        top: 19px;
        font-size: 10px;
    }
    
    .line6 {
        position: relative;
        top: 25px;
        font-size: 10px;
    }
    
    .line7 {
        position: relative;
        top: 32px;
        font-size: 10px;
    }
    
    .line8 {
        position: relative;
        top: 41px;
        font-size: 10px;
    }
    
    .line9 {
        position: relative;
        top: 40px;
        font-size: 10px;
    }
    
    .line10 {
        position: relative;
        top: 54px;
        font-size: 13px;
    }
    
    .presale-section-box1-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 68px;
    
    }
    
    .btn1 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn1 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }
    
    .btn1 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box2-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 68px;
    
    }
    
    .btn2 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn2 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn2 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box3-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 68px;
    
    }
    
    .btn3 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn3 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn3 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    
    }
    
    .presale-section-box4-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 68px;
    
    
    }
    
    .btn4 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn4 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn4 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box5-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 86px;
    
    }
    
    .btn5 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn5 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn5 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .social-media-handle-info {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 26px;
        margin: 19px;
        font-weight: bold;
        font-size: 15px;
    }
    
    .social-media-handle-info2 {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 26px;
        margin: 37px;
        font-weight: bold;
        font-size: 15px;
        position: relative;
        top: -16px;
    }
    
    a img {
        height: 45px;
        margin: 5px 60px;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        position: relative;
        right: -190px;
        top: 13px;
        margin: 23px;
    }

}



/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Line_Number_3<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media screen  and (max-width:808px){
    body{
        background-color: oldlace;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        right: 30px;
        justify-content: center;
    }

    .logoText {
        right: 30px;
        justify-content: center;
    }

    nav ul{
        justify-content: center;
        
    }
nav ul li a{
    font-size: 5px;
}
    .text{
        font-size: 25px;
        text-align: center;
    }
    .pragraph{
        padding: 0px 42px;
    font-size: 6px;
    position: relative;
    top: -34px;
    text-align: center;
}

.btn {
    height: 21px;
    width: 80px;
    background-color: black;
    color: rgb(255, 205, 205);
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8px;
}

.btn-box {
    height: 21px;
    width: 80px;
    position: relative;
    right: -160px;
    top: -20px;
    background-color: black;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
    
    .some-item{
        position: absolute;
    top: 149px;
    bottom: 400px;
    right: 67px;
    left: 466px;
    overflow: hidden;
    border-radius: 15px;

    }

    .h1{
font-size: 55px;
    }


    .presale-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
    }

    .heading {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 26px;
        color: rgb(255, 145, 0);
    }

    .box1 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        border: 2px solid white;
        margin: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 20px;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
    
    }
    
    .box2 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        border: 2px solid white;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box3 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box4 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .box5 {
        background-color: var(--main-bg-color);
        height: 299px;
        width: 145px;
        /* display: inline; */
        border: 2px solid white;
        /* margin: 30px; */
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: -2px 5px 10px rgb(101, 101, 252);
        margin: 10px;
    }
    
    .line1 {
        font-weight: bold;
        position: relative;
        top: 4px;
        font-size: 9px;
    
    }
    
    .line2 {
        position: relative;
        top: 10px;
        font-weight: bold;
        font-size: 15px;
        color: rgb(255, 145, 0);
    }
    
    .line3 {
        position: relative;
        top: 12px;
        font-size: 8px;
    }
    
    .line4 {
        position: relative;
        top: 11px;
        font-size: 8px;
    }
    
    .line5 {
        position: relative;
        top: 19px;
        font-size: 10px;
    }
    
    .line6 {
        position: relative;
        top: 25px;
        font-size: 10px;
    }
    
    .line7 {
        position: relative;
        top: 32px;
        font-size: 10px;
    }
    
    .line8 {
        position: relative;
        top: 41px;
        font-size: 10px;
    }
    
    .line9 {
        position: relative;
        top: 40px;
        font-size: 10px;
    }
    
    .line10 {
        position: relative;
        top: 54px;
        font-size: 13px;
    }
    
    .presale-section-box1-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 68px;
    
    }
    
    .btn1 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn1 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }
    
    .btn1 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box2-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 68px;
    
    }
    
    .btn2 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn2 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn2 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box3-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 68px;
    
    }
    
    .btn3 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn3 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn3 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    
    }
    
    .presale-section-box4-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 68px;
    
    
    }
    
    .btn4 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn4 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn4 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .presale-section-box5-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        top: 86px;
    
    }
    
    .btn5 {
        height: 22px;
        width: 78px;
        border: 2px solid rgb(0, 72, 255);
        border-top-color: coral;
        border-right-color: gold;
        border-left-color: tomato;
        background-color: bisque;
        border-radius: 30px;
    }
    
    .btn5 a {
        color: rgb(248, 5, 5);
        font-size: 9px;
        font-weight: bold;
    }
    
    .btn5 a:hover {
        color: rgb(4, 0, 255);
        /* font-weight: bold; */
    }
    
    .social-media-handle-info {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 26px;
        margin: 19px;
        font-weight: bold;
        font-size: 13px;
    }
    
    .social-media-handle-info2 {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        top: 26px;
        margin: 37px;
        font-weight: bold;
        font-size: 10px;
        position: relative;
        top: -16px;
    }
    
    a img {
        height: 36px;
        /* margin: 5px 60px; */
        justify-content: center;
        align-items: center;
        /* display: flex; */
        position: relative;
        right: -80px;
        top: 13px;
        margin: 23px;
        margin-right: 40px;
        --grid-template-columns: repeat(3, auto);
    }

.visible-xs{
    /* flex-direction: row; */
    display: static;
    --grid-template-columns: repeat(3, auto);
}

}


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Lines_End<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



